.slider_container {
    padding: 40px;
  }
  
  button.slick-arrow.slick-next::before{
    font-size: 55px;
    position: fixed;
    right: 200px;
    color: black;
  }

  button.slick-arrow.slick-prev::before{
    font-size: 55px;
    position: fixed;
    left: 200px;
    color: black;
  }

  .slick-dots {
    bottom: -40px;
    color: #fff;
  }
